@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic");
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  height: 100vh;
}

.container {
  margin: 0 auto;
  width: 1104px;
  height: 100%;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

li {
  list-style-type: none;
}

h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

input {
  text-decoration: none;
  border-width: 0px;
  width: inherit;
  outline: 0;
  outline-offset: 0;
}

textarea {
  outline: 0;
  outline-offset: 0;
}

button {
  border: none;
  outline: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

span {
  display: block;
}

@font-face {
  font-family: Gagalin;
  src: url(../fonts/Gagalin-Regular.woff);
}

@font-face {
  font-family: Lifehack;
  src: url(../fonts/Lifehack-Medium.woff);
}

.general {
  background: url(../../img/Rectangle.png) no-repeat;
  background-size: cover;
}

.general__content {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.general__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80vh;
  width: 100%;
}

.general__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 97px;
  padding-right: 76px;
  width: 94%;
}

.general__img {
  padding-right: 11px;
  position: relative;
}

.general__drops {
  position: absolute;
  top: 17%;
  left: -5%;
}

.general__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 213px;
}

.general__title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  line-height: 85px;
  padding-bottom: 25px;
}

.general__description {
  letter-spacing: -1.63px;
  line-height: 60px;
  color: #ffffff;
  font-family: Lifehack;
  font-size: 65px;
  font-weight: 500;
}

.general__icon {
  margin-bottom: 10vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7%;
  padding-right: 8%;
  padding-top: 12px;
  height: 10vh;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #f0f0f0;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.header__item:before {
  content: "\2022";
  padding-left: 7px;
  padding-right: 10px;
}

.header__item:first-child:before {
  content: "";
}

.logo {
  padding-right: 6%;
}

.nav {
  width: 670px;
}

.sidebar {
  width: 6%;
  position: fixed;
  right: 8vh;
  top: 20vh;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sidebar__item {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}

.sidebar__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  color: #ffffff;
}

.sidebar__link {
  width: 6px;
  height: 6px;
  border: 3px solid;
  border-radius: 50%;
  color: #ffffff;
}

.button__red {
  width: 97px;
  height: 35px;
  background-color: #e45028;
  border: none;
  border-radius: 7px;
  color: #f0f0f0;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.we {
  background: url(../../img/we-bg.png);
  background-size: cover;
}

.we__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we__title {
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  color: #2f3234;
  line-height: 64.05px;
  padding-top: 134px;
  padding-bottom: 55px;
  text-align: center;
}

.we__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%s;
  padding-left: 7%;
  padding-right: 7%;
}

.we__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31%;
}

.we__icon {
  padding-bottom: 34px;
}

.we__caption {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  letter-spacing: -0.6px;
  padding-bottom: 20px;
}

.we__text {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.07px;
}

.feeds__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
}

.feeds__item {
  width: 25%;
  height: 50vh;
  background-size: cover;
}

.feeds__part {
  opacity: 0;
  height: 100%;
  padding: 50px 33px 50px 20px;
}

.feeds__item:hover .feeds__part {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(12, 12, 12, 0.6);
}

.feeds__active .feeds__part {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: rgba(12, 12, 12, 0.6);
}

.feeds__caption {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px;
}

.feeds__text {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.feeds__link {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #2f3234;
  width: 110px;
  height: 35px;
  border-radius: 5px;
  padding-left: 14px;
  padding-top: 2px;
}

.team {
  background-image: url(../../img/team.png);
  background-size: cover;
  position: relative;
}

.team__part {
  position: absolute;
  width: 50%;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.9);
  height: 100%;
}

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 17%;
  width: 70%;
}

.team__title {
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  color: #f9b43b;
  line-height: 64.04px;
  margin-bottom: 50px;
}

.team__item {
  margin-bottom: 35px;
}

.team__name {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 14px;
  font-weight: 400;
  line-height: 28.13px;
  padding-bottom: 17px;
  position: relative;
  left: 30px;
}

.team__name:before {
  content: "";
  color: #f9b43b;
  border: 10px solid transparent;
  border-top: 10px solid #f9b43b;
  position: absolute;
  top: 10px;
  left: -30px;
}

.team__name_active {
  color: #f9b43b;
}

.team__name_active:before {
  content: "";
  color: #f9b43b;
  border: 10px solid transparent;
  border-bottom: 10px solid #f9b43b;
  position: absolute;
  top: -1px;
  left: -30px;
}

.team__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden;
}

.team__name_active ~ .team__info {
  height: 100%;
  overflow: hidden;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 24.01px;
  padding-left: 21px;
}

.team__position {
  font-weight: 700;
  padding-bottom: 12px;
}

.team__description {
  font-weight: 300;
}

.menu {
  background-image: url(../../img/menu.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.menu__label {
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  color: #ffffff;
  padding-top: 10%;
  padding-left: 10%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: auto;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu__item_active .menu__block {
  width: 500px;
}

.menu__item_active .menu__title {
  color: #f9b43b;
}

.menu__link {
  position: relative;
  display: block;
  height: 100%;
  background-size: cover;
  width: 80px;
  color: #ffffff;
  font-family: Gagalin;
  font-size: 40px;
  font-weight: 400;
  line-height: 63.75px;
}

.menu__title {
  width: 100%;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  white-space: nowrap;
  bottom: 60px;
}

.menu__block {
  width: 0px;
  overflow: hidden;
  height: 100%;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 24.01px;
  background-color: rgba(12, 12, 12, 0.7);
}

.menu__text {
  padding: 7% 7%;
}

.map {
  background-image: url(../../img/map.png);
  background-size: cover;
  position: relative;
}

.footer {
  background-color: rgba(0, 0, 0, 0.9);
  height: 8vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__contant {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text {
  width: 50%;
  font-family: Ubuntu;
  font-size: 14px;
  line-height: 24px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__address {
  color: #ffffff;
  font-weight: 300;
}

.footer__number {
  color: #e45028;
  font-weight: 700;
  padding-left: 5px;
}

.social {
  width: 50%;
}

.order {
  background-image: url(../../img/bg_order.png);
  background-size: cover;
}

.order__title {
  font-family: Gagalin;
  font-size: 72px;
  font-weight: 400;
  color: #f9b43b;
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
}

.order__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.order__left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.order__row_right {
  margin-bottom: 20px;
}

.order__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin-right: 20px;
}

.order__block:last-child {
  margin-right: 0px;
}

.order__caption {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
}

.order__input {
  height: 35px;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 5px 5px;
}

.order__input:focus {
  border-color: #f9b43b;
}

.order__input:hover {
  border-color: #f9b43b;
}

.order__right {
  width: 50%;
  margin-left: 20px;
}

.order__textarea {
  width: 100%;
  height: 140px;
  resize: none;
  border: 2px solid transparent;
  border-radius: 5px;
}

.order__textarea:focus {
  border-color: #f9b43b;
}

.order__textarea:hover {
  border-color: #f9b43b;
}

.order__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  width: 200px;
}

.order__btn:hover .order__btn_title:before {
  border: 1px solid #e45028;
}

.order__btn:hover .order__btn_title:after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #e45028;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 11px;
}

.order__btn:checked .order__btn_title:before {
  border: 1px solid #e45028;
}

.order__btn:checked .order__btn_title:after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #e45028;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 11px;
}

.order__radio {
  margin-right: 10px;
  display: none;
}

.order__btn_title {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 5px;
  padding-left: 28px;
  position: relative;
}

.order__btn_title:before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0px;
  bottom: 6px;
}

.order__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.order__check:checked .order__check_title:before {
  content: "";
  border: 1px solid #fff;
}

.order__checkbox {
  margin-right: 10px;
  display: none;
}

.order__check_title:before {
  content: "\2713";
  font-size: 21px;
  color: #e45028;
  border-radius: 2%;
  border: 1px solid #e45028;
  text-align: center;
  line-height: 17px;
}

.order__button {
  background-color: #e45028;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.order__button_none {
  cursor: pointer;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  background: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin-left: 20px;
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}

.social__item:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
/*# sourceMappingURL=style.css.map */