.button {
  
  
 
  &__red {
    width: rem(97px);
    height: rem(35px);
    background-color: #e45028;
    border: none;
    border-radius: rem(7px);
    @include menu_style;
    margin-left: 2vw;
    max-width: 9vh;
    text-align: center;

    @include tablets{
      max-width: 10vh;
      margin-left: 0;
     

    }

    @include phones{
      margin-left: 0;
      max-width: 13vh;
    }
    
  }
  @include tablets{
    margin-left: auto;
  }


}