.order {
    background-image: url(../../img/bg_order.png);
    background-size: cover;

    &__title {
        @include title;
        color: #f9b43b;
        padding-top: 17vh;
        padding-bottom: 5vh;
        text-align: center;
    }

    &__content {
        display: flex;
        width: 100%;

        @include tablets {
            flex-direction: column;
            align-items: center;
            padding: 0 15vw;
        }
    }

    &__left {
        width: 50%;
        display: flex;
        flex-direction: column;

        @include tablets {
            width: 100%;

        }
    }

    &__row {
        display: flex;
        flex: 1;

        &_right {
            margin-bottom: rem(20px);
        }

    }

    &__block {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        margin-right: rem(20px);

        &:last-child {
            margin-right: rem(0px);
        }
    }


    &__caption {
        color: #ffffff;
        font-family: Ubuntu;
        font-size: rem(14px);
        font-weight: 300;
        line-height: rem(24px);
        margin-bottom: rem(5px);


    }

    &__input {
        height: rem(35px);
        border: rem(2px) solid transparent;
        border-radius: rem(5px);
        padding: rem(5px) rem(5px);


        &:focus {
            border-color: #f9b43b;
        }

        &:hover {
            border-color: #f9b43b;
        }

    }

    &__right {
        width: 50%;
        margin-left: rem(20px);

        @include tablets {
            width: 100%;
            margin-left: 0;

        }
    }

    &__textarea {
        width: 100%;
        height: rem(140px);
        resize: none;
        border: rem(2px) solid transparent;
        border-radius: rem(5px);

        &:focus {
            border-color: #f9b43b;
        }

        &:hover {
            border-color: #f9b43b;
        }

    }

    &__btn {
        display: flex;
        margin-right: rem(20px);
        width: rem(200px);

        &:hover {
            .order__btn_title:before {
                border: rem(1px) solid #e45028;
            }


            .order__btn_title:after {
                content: "";
                width: rem(8px);
                height: rem(8px);
                background-color: #e45028;
                border-radius: 50%;
                position: absolute;
                left: rem(5px);
                bottom: rem(11px);

            }
        }


        &:checked {
            .order__btn_title:before {
                border: rem(1px) solid #e45028;
            }

            .order__btn_title:after {
                content: "";
                width: rem(8px);
                height: rem(8px);
                background-color: #e45028;
                border-radius: 50%;
                position: absolute;
                left: rem(5px);
                bottom: rem(11px);

            }
        }

    }

    &__radio {
        margin-right: rem(10px);
        display: none;

    }


    &__btn_title {
        color: #ffffff;
        font-family: Ubuntu;
        font-size: rem(14px);
        font-weight: 300;
        line-height: rem(24px);
        margin-bottom: rem(5px);
        padding-left: rem(28px);
        position: relative;

        &:before {
            content: "";
            width: rem(16px);
            height: rem(16px);
            border: rem(1px) solid transparent;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            left: rem(0px);
            bottom: rem(6px);


        }

    }

    &__check {
        display: flex;

        &:checked {

            .order__check_title:before {
                content: "";
                border: rem(1px) solid #fff;
            }

        }
    }

    &__checkbox {
        margin-right: rem(10px);
        display: none;
    }

    &__check_title:before {
        content: "\2713";
        font-size: rem(21px);
        color: #e45028;
        border-radius: 2%;
        border: rem(1px) solid #e45028;
        text-align: center;
        line-height: rem(17px)
    }

    &__button {

        background-color: #e45028;
        font-family: Ubuntu;
        font-size: rem(13px);
        font-weight: 500;
        line-height: rem(30px);
        text-transform: uppercase;
        color: #ffffff;
        margin-right: rem(20px);
        border-radius: rem(5px);
        cursor: pointer;
    }


    &__button_none {
        cursor: pointer;
        color: #ffffff;
        font-family: Ubuntu;
        font-size: rem(14px);
        font-weight: 300;
        line-height: rem(24px);
        background: none;
    }

}
