.social{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

    &__item{
        margin-left: rem(20px);
        filter: grayscale(.5);
        &:hover{
            filter: grayscale(0)
        }
    }
}

